body {
  font-family: 'Alice', serif;
  background-color: #F5F5F5;
  color: #013E7D;
  background-image: url('../images/index_background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.header-container {
  background-color: #013E7D;
  padding: 10px 0px 10px 0px;
  margin-top: 0px;
  display: inline-block;
  width: 100%;
  border-bottom: 3px solid rgba(0, 0, 0, 0.22);
  color: #F5F5F5;
  height: 60px;
}

.header {
  position: relative;
  width: 1200px;
  text-align: left;
  margin: 0px auto;
  height: 100%;
  display: inherit;
}

.header h1 {
  margin: 0px;
  position: absolute;
}

.header #museum-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 27px;
  height: 27px;
  margin-top: -13px;
  margin-left: -13px;
}

.header #menu-icon {
  position: absolute;
  right: 0px;
  top: 6px;
}

#main-container {
  width: 1200px;
}

#main-container .location {
  font-size: 3em;
}

#main-container .museum-row:nth-of-type(odd) {
    background-color: #F5F5F5;
}

#main-container .museum-row:nth-of-type(even) {
    background-color: #E6E6E6;
}

#main-container .museum-summary-row {
  cursor: pointer;
  padding: 10px;
  margin: 0px;
}

#main-container .museum-open-time {
  margin-bottom: 0px;
}

#main-container .museum-open-time .progress-bar {
  background-color: #013E7D;
}

#main-container .is-free {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #013E7D;
}

#main-container .museum-detail-row {
  display: none;
  padding: 10px;
}
