{% extends "bootstrap/base.html" %}

{% block title %}museumzeit / {{ city.name }}{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='css/city.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css">
  <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{ url_for('static', filename='js/timeline-generator.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
  <script>
  function showMuseumDescription(menuSelector) {
    $(menuSelector).slideToggle(400);
  }

  Date.prototype.getFormattedDate = function () {
    var d = ('0' + this.getDate()).slice(-2)
    var m = ('0' + (this.getMonth() + 1)).slice(-2)
    return d + '-' + m + '-' + this.getFullYear()
  };

  $('#datepicker').datepicker({format: "dd/mm/yyyy"});

  $('#datepicker').datepicker().on('changeDate', function(e) {
    window.location.href = '/{{city.name}}/' + e.date.getFormattedDate();
  });

  generateLegend({{earliestTime}}, {{latestTime}});
  {% for museum in city.museums %}

      {% if museum.isClosed(date) %}

      addClosedPeriod({{ museum.id }});

      {% else %}

          {% for period in museum.getValidPeriods(date) %}
          addPeriodToTimeline({{ museum.id }},{{ earliestTime }},{{ latestTime }},{{ period.openTime.hour*60 + period.openTime.minute}},{{ period.closedTime.hour*60 + period.closedTime.minute}});
          {% endfor %}

      {% endif %}

  {% endfor %}
  </script>
{% endblock %}

{% block content %}

  <div class="header-container">
    <header class="header">
      <a href="{{url_for('main.index')}}"><h1>museumzeit</h1></a>
      <img id="museum-icon" src="{{url_for('static', filename='images/museum-icon.png')}}"/>
      <button class="btn small" id="datepicker" data-date-format="dd-mm-yyyy"><span class="glyphicon glyphicon-calendar"></span></button>
    </header>
  </div>

  <div id="main-container" class="container-fluid">
    <h2 class="location">{{ city.name }} - {{ date.strftime('%d/%m/%Y') }}</h2>

    <div class="row legend-row">
      <div class="col-md-3">
        Museum Name
      </div>
      <div class="col-md-8">
        <div id="timeline-legend" class="row">
        </div>
      </div>
      <div class="col-md-1">
        Free
      </div>
    </div>
    {% for museum in city.museums|sort(attribute='name') %}
      <div id="museum-{{museum.id}}" class="row museum-row">
          <div class="row museum-summary-row" onclick="$(this).parent().find('.museum-detail-row').slideToggle(400);">
          <div class="col-md-3 {{ 'closed' if museum.isClosed(date) }}">
            {{ museum.name }}
          </div>

          <div class="col-md-8 timeline">
            <div class="progress museum-open-time">
            </div>
          </div>
          <div class="col-md-1">
            {% if museum.isFree(date) %}
              <span class="is-free {{ 'closed' if museum.isClosed(date) }}"></span>
            {% endif %}
          </div>
        </div>
        <div class="row museum-detail-row">
          <div class="col-md-4 museum-map">
            <a href="http://maps.google.com/maps?q={{ museum.latitude }}, {{ museum.longitude }}">
              <img class="img-responsive" src="https://maps.google.com/maps/api/staticmap?markers=color:0x013E7D|{{ museum.latitude }},{{ museum.longitude }}&zoom=15&size=350x250"/>
            </a>
          </div>
          <div class="col-md-8 museum-description">
            <p>{{ museum.description }}</p>
            {% if museum.isClosed(date) %}
                <div class="closed-status closed">
                    <p>Closed today</p>
                </div>
            {% else %}
                <div class="open-status">
                    <p>Open Today:</p>
                    <ul>
                    {% for period in museum.getValidPeriods(date) %}
                        <li>{{ period.openTime.strftime('%H:%M')}} - {{period.closedTime.strftime('%H:%M')}}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <span class="museum-link">
              <a href="{{ museum.website }}">{{ museum.name }} Website</a>
            </span>
          </div>
        </div>
      </div>
    {% endfor %}

    <div id="credits">
      built by <a href="https://autophagy.github.io/" target="_blank">autophagy</a> • <a href="https://github.com/Autophagy/museumzeit" target="_blank">github</a>
    </div>

  </div>

{% endblock %}
