{% extends "bootstrap/base.html" %}

{% block title %}museumzeit / {{ city.name }}{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='css/city.css')}}">
  <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
  function showMuseumDescription(menuSelector) {
    $(menuSelector).slideToggle(400);
  }
  </script>
{% endblock %}

{% block content %}

  <div class="header-container">
    <div class="header">
      <a href="{{url_for('main.index')}}"><h1>museumzeit</h1></a>
      <img id="museum-icon" src="{{url_for('static', filename='images/museum-icon.png')}}"/>
      <img id="menu-icon" src="{{url_for('static', filename='images/menu-icon.png')}}"/>
    </div>
  </div>

  <div id="main-container" class="container-fluid">
    <h2 class="location">{{ city.name }} - {{ date.day }}/{{ date.month }}/{{ date.year }}</h2>

    <div class="row legend-row">
      <div class="col-md-3">
        Museum Name
      </div>
      <div class="col-md-8">
        Time Open
      </div>
      <div class="col-md-1">
        Free
      </div>
    </div>
    {% for museum in city.museums|sort(attribute='name') %}
      <div class="row museum-row">
          <div class="row museum-summary-row" onclick="$(this).parent().find('.museum-detail-row').slideToggle(400);">
          <div class="col-md-3">
            {{ museum.name }}
          </div>
          <div class="col-md-8">
            <div class="progress museum-open-time">
              <div class="progress-bar open" style="width:50%">
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <span class="is-free"></span>
          </div>
        </div>
        <div class="row museum-detail-row">
          <div class="col-md-4 museum-map">
            <a href="http://maps.google.com/maps?q={{ museum.latitude }}, {{ museum.longitude }}">
              <img class="img-responsive" src="https://maps.google.com/maps/api/staticmap?markers=color:0x013E7D|{{ museum.latitude }},{{ museum.longitude }}&zoom=15&size=350x250"/>
            </a>
          </div>
          <div class="col-md-8 museum-description">
            {{ museum.description }}
            <span class="museum-link">
              <a href="{{ museum.website }}">{{ museum.name }} Website</a>
            </span>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

{% endblock %}
