{% extends "bootstrap/base.html" %}

{% block title %}museumzeit / {{ city.name }}{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='css/city.css')}}">
  <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

  <div class="header-container">
    <div class="header">
      <a href="{{url_for('main.index')}}"><h1>museumzeit</h1></a>
      <img id="museum-icon" src="{{url_for('static', filename='images/museum-icon.png')}}"/>
      <img id="menu-icon" src="{{url_for('static', filename='images/menu-icon.png')}}"/>
    </div>
  </div>

  <div id="main-container" class="container-fluid">
    <h2 class="location">{{ city.name }} - {{ date.day }}/{{ date.month }}/{{ date.year }}</h2>

    {% for museum in city.museums %}
      <div class="row museum-row">
        <div class="col-md-3">
          {{ museum.name }}
        </div>
        <div class="col-md-8">
          <div class="progress museum-open-time">
            <div class="progress-bar" style="width:50%">
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <span class="is-free"></span>
        </div>
      </div>
    {% endfor %}

  </div>

{% endblock %}
