{% extends "bootstrap/base.html" %}

{% block title %}museumzeit{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
  <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>museumzeit</h1>
    </div>

    <div id="countries">
      {% for country in countries %}
        <div class="row country">
          <h1>{{ country.name }}</h1>
          <div class="row">
            {% for city in country.cities %}
            <div class="col-xs-3 city">
              <a href="{{url_for('city', cityname=city.name)}}">{{ city.name }}</a>
            </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
