{% extends "bootstrap/base.html" %}

{% block title %}museumzeit{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
  <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>museumzeit</h1>
    </div>

    <ul>
      {% for country in countries %}
        <li>
          {{ country.name }}
          <ul>
            {% for city in country.cities %}
            <li>
              {{ city.name }}
            </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
