{% extends "bootstrap/base.html" %}

{% block title %}museumzeit{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
  <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>museumzeit</h1>
    </div>

    <div id="countries">
      {% for country in countries|sort(attribute='name') %}
        <div class="row country">
          <h1>{{ country.name }}</h1>
          <div class="row">
            {% for city in country.cities|sort(attribute='name') %}
            <div class="col-xs-1 city">
              <a href="{{url_for('main.city', cityname=city.name)}}">{{ city.name }}</a>
            </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div id="credits">
    built by <a href="https://autophagy.io/" target="_blank">autophagy</a> • <a href="https://github.com/Autophagy/museumzeit" target="_blank">github</a>
  </div>
{% endblock %}
